<form class="d-flex col-2 m-4" action="answer" data-turbo="false">
  <input class="form-control me-2" type="text" name="question">
  <input class = "btn btn-outline-success" type="submit" value="Ask!">
</form>
